{% extends 'catalog/base.html' %}
{% load my_tags %}

{% block content %}

    <div class="row">
        <div class="col-12 mb-5">
            <a href="{% url 'catalog:product_create' %}" type="button"
               class="btn btn-outline-primary">Создать</a>
        </div>
        {% for object in object_list %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img src="{% mediapath object.image %}" />
                    <div class="card-body">
                        <p class="card-text">{{ object.product_name }} </p>
                        <p class="card-text">{{ object.description|truncatechars:100 }} </p>
                        <p class="card-text">{{ object.price }} руб.</p>
                        <li>
                            Версия: {% for version_item in object.version_set.all %}
                            {% if version_item.is_valid %}
                                {{ version_item.version_name }}
                            {% endif %}
                        {% endfor %}
                        </li>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'catalog:product' object.pk %}" type="button"
                           class="btn btn-success">Просмотр</a>
                        <a href="{% url 'catalog:product_update' object.pk %}" type="button"
                           class="btn btn-warning">Изменить</a>
                        <a href="{% url 'catalog:product_delete' object.pk %}" type="button" class="btn btn-danger">Удалить</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}